* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.timerbg div {
    /*float: right;*/
    /*font-size: 16px;*/
    margin: 24px 0 0 0;
    font-weight: 800;
    text-align: left;
    width: 100%;
    font-family: "微软雅黑", "宋体";
}

.timerbg div strong {
    font-size: 20px;
    margin: 0 2px;
    color: #D6000F;
    font-family: Arial;
}

.day{

}

.hour{

}
.minutes{

}

.second{

}